# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vscode/settings.json
.gitignore
Data/test.py
Data/__pycache__/scrape.cpython-38.pyc
Data/data_aggregation_tests.ipynb
Data/scrape.py
Data/Datasets/Comments.xml
Data/Datasets/comments.json
Data/Datasets/Posts.xml
Data/Datasets/Tags.xml
Data/Datasets/Users.xml
Data/Datasets/Votes.xml
Data/Datasets/posts.json
